
// Variables Here

.page-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 750px;
}
.login-card{
  display: flex;
  flex-direction: column;
}
.login-button{
  margin-top: 15px;
  justify-self: center;
}
