.formElements-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
  }

}

.page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93.5vh;
  overflow: hidden;
  background: #34ADFF -webkit-linear-gradient(45deg, #6c39b5 30%, #38f2ff 80%);
}

.setup{
  width: 80vw;
}

.formElements-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .playerSelect{
    min-width: 200px;
    max-width: 600px;
    margin: 5%;
    width: 15%;
  }
  .questionNum{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 5%;
    min-width: 200px;
    max-width: 600px;
    width: 15%;
  }
  .difficulty{
    margin: 5%;
    min-width: 200px;
    max-width: 600px;
    width: 15%;
  }
  .category{
    margin: 5%;
    min-width: 200px;
    max-width: 600px;
    width: 15%;
  }
}

.submitButton{
  display: flex;
  justify-content: center;
}




