<div class="page-container">
  <div class="setup">
    <mat-card>
      <div class="formElements-bottom">
        <div class="playerSelect">
          <p>Number Of Players</p>
          <mat-select (selectionChange)="playerNumber($event)" placeholder="1" value="1">
            <mat-option value='1'>1</mat-option>
            <mat-option value='2'>2</mat-option>
            <mat-option value='3'>3</mat-option>
            <mat-option value='4'>4</mat-option>
          </mat-select>
        </div>
        <div class="questionNum">
          <p>Questions per Player</p>
          <mat-select (selectionChange)="questionsPerPlayer($event)" placeholder="10" value="10">
            <mat-option value="2">2</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="10">10</mat-option>
          </mat-select>
        </div>
        <div class="difficulty">
          <p>Difficulty</p>
          <mat-select (selectionChange)="difficulty($event)" placeholder="Any" value="Any">
            <mat-option value="Any">Any</mat-option>
            <mat-option value="easy">Easy</mat-option>
            <mat-option value="medium">Medium</mat-option>
            <mat-option value="hard">Hard</mat-option>
          </mat-select>
        </div>
        <div class="category">
          <p>Category</p>
          <mat-select (selectionChange)="category($event)" placeholder="Any" value="Any">
            <mat-option value="Any">Any</mat-option>
            <mat-option value="9">General Knowledge</mat-option>
            <mat-option value="10">Entertainment: Books</mat-option>
            <mat-option value="11">Entertainment: Film</mat-option>
            <mat-option value="12">Entertainment: Music</mat-option>
            <mat-option value="13">Entertainment: Musicals & Theatres</mat-option>
            <mat-option value="14">Entertainment: Television</mat-option>
            <mat-option value="15">Entertainment: Video Games</mat-option>
            <mat-option value="16">Entertainment: Board Games</mat-option>
            <mat-option value="17">Science & Nature</mat-option>
            <mat-option value="18">Science: Computers</mat-option>
            <mat-option value="19">Science: Mathematics</mat-option>
            <mat-option value="20">Mythology</mat-option>
            <mat-option value="21">Sports</mat-option>
            <mat-option value="22">Geography</mat-option>
            <mat-option value="23">History</mat-option>
            <mat-option value="24">Politics</mat-option>
            <mat-option value="25">Art</mat-option>
            <mat-option value="26">Celebrities</mat-option>
            <mat-option value="27">Animals</mat-option>
            <mat-option value="28">Vehicles</mat-option>
            <mat-option value="29">Entertainment: Comics</mat-option>
            <mat-option value="30">Science: Gadgets</mat-option>
            <mat-option value="31">Entertainment: Japanese Anime & Manga</mat-option>
            <mat-option value="32">Entertainment: Cartoon & Animations</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="submitButton">
        <button mat-raised-button type="submit" (click)="submitData()" [routerLink]="['/game']">Start Game</button>
      </div>
    </mat-card>
  </div>
</div>


